/*
nav{
  display: block;
  padding :12pt 0pt;
  position: fixed;
  top:0;
  width:100%;
  float: right;
  overflow: hidden;
  background-color: #f2f2f2;
  z-index: 1;
}
a{
  float: right;
  display: block;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 17px;
}
#top_img{
  background-image: url(https://images.pexels.com/photos/351127/pexels-photo-351127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  width: 1030px;
  height: 200px;
  background-size: cover;
  background-position: center; 
  position: absolute;
  top:15%;
  left:10%;
}
#daily{
  display: block;
  padding: 30pt;
  float: left;
  height: 1000px;
}
#daily_1{
  width:230pt;
  height:230pt;
  position: absolute;
  top:80%;
  left: 10%;
  background-image: url(https://images.pexels.com/photos/196666/pexels-photo-196666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center; 
}
#daily_2{
  width:230pt;
  height:230pt;
  position: absolute;
  top:80%;
  left: 34.7%;
  background-image: url(https://images.pexels.com/photos/220570/pexels-photo-220570.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center; 
}
#daily_3{
  width:230pt;
  height:230pt;
  position: absolute;
  top:80%;
  right:10%;
  background-image: url(https://images.pexels.com/photos/1565387/pexels-photo-1565387.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center; 
}
figcaption{
  position: absolute;
  bottom: 20pt;
  left: 30pt;
  color: white;
}
*/
p {
    text-align: center;
}

#div_for_set {
    background-image: url(https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 250pt;
    background-size: cover;
    background-position: center;
}
