<html>
<head></head>
<body>
	

<!--form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
</form-->

{% load myfilters %}	

<form class="" action="/compre_form" method="post">
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        <div>
            {{ form.site_name.label_tag }}
            {{ form.site_name|addclass:'site_name' }}
        </div>
    	<div>
        	{{ form.site_content.label_tag }}
       		{{ form.site_content|addclass:'site_content' }}
    	</div>
    	<div>
        	{{ form.time.label_tag }}
       		{{ form.time|addclass:'time' }}
    	</div>
    	<div>
        	{{ form.line.label_tag }}
        	{{ form.line|addclass:'line' }}
        </div>
    </div>
    <input type="submit" />
</form>
<style>
.site_form{
    display:none;
}

</style>
</body>
</html>