<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static "gallery.css" %}" >
        <script src="{% static "galary.js"%}"></script>
        <script src="{% static "background.js"%}"></script>
        <!script type="text/javascript " src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS54PJ0zmirq0QNN29mKfPaJVE0KDCiTc&callback=initMap"></script>
    </head>
    {% load static %}
    <body >
        <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">profile</a>
                  </li>
                </ul>
                <form class="form-inline" id="searchBottom" method="POST" style="float:right;position: absolute;right:10%">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="keyword">
                  <button class="btn btn-success"  type="submit" >Search</button>
                </form>
            </nav>
        <div class="container-fluid">
            <div class="row"></div>
        </div>
        <div id="button_place">
            {% csrf_token%}
        </div>
            <div id="map" style="height: 200pt; width:200pt;"></div>

            <div class="container" id="downGallery">
                <div class="row">
                    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                        <div class="MultiCarousel-inner">
                            <!--
                            <div class="item" id="p1" >
                               <img src="https://images.pexels.com/photos/35884/amazing-beautiful-beauty-blue.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350" width="180px" height="200px">
                            </div>
                            <div class="item" id="p2">
                                <img src="https://images.pexels.com/photos/733174/pexels-photo-733174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350" width="180px" height="200px" s>
                            </div>
                            <div class="item" id="p3">
                                 <img src="https://images.pexels.com/photos/35884/amazing-beautiful-beauty-blue.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350" width="180px" height="200px">
                            </div>
                            <div class="item" id="p4">
                                <img src="https://images.pexels.com/photos/733162/pexels-photo-733162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350" width="180px" height="200px">
                            </div>
                            <div class="item" id="p5">
                                <img src="https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350" width="180px" height="200px">
                            </div>
                            -->
                        </div>

                    </div>
                </div>
            </div>
            <div id="ajax-output">

            </div>
    </body>


<script>

var da=[
      {% for sche in schedule_day_all %}
            {% for obj in sche.touristsite_set.all %}
                {
                    day:"{{ sche.day }}",
                    title: "{{ obj.site_name }}",
                    seq: "{{ obj.route_order }}",
                    intro: "{{ obj.site_content | linebreaksbr}}",
                    image: "{{ obj.image }}",
                    location: "{{obj.location}}",
                },
            {% endfor %}
      {% endfor %}
  ]
var seq_ar={{num_of_day}};
$(document).ready(function(){
    $('#button_place').empty();
    for(i=0;i<{{max_day}};i++){
        $('#button_place').append('<button onclick="post(' + (i+1) + ')">day_' + (i+1) + '</button>');
    }
    //img_show(1);
    initMap();
});

/*$('#searchBottom button[type=submit]').click((event) => {
  event.preventDefault();
  console.log('ajax:receive keyword')
  $.ajax({
    dataType: 'json',
    url: "main",
    data: {keyword: $('#ajax-form input[name=keyword]').val(),},
    method: 'get',
    success: function(data){
        alert("A user with this username already exists.");
                console.log('return success')
                $('#ajax-output').html(data.site);

              },
    error: function(data){
      console.log('no data');
    }
  })*/



function calculateAndDisplayRoute(directionsService, directionsDisplay) {

    var ori='22.9988465, 120.2173261';

    var pts=[];
    {% for pt in waypoints %}
        pts.push({stopover: true, location: { placeId: "{{ pt }}" }});
    {% endfor %}
    var request={

        waypoints: pts,
        origin: {placeId:"{{origin}}"},
        destination: {placeId: "{{ destination }}"},
        optimizeWaypoints: true,
        travelMode: 'WALKING',
    }
    directionsService.route(request, function (result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(result);
        }else{
        console.log('error');
        }
    });
  }

function img_show(day){
    console.log('showing'+day);

    $('.MultiCarousel-inner').empty();
    for(i=1;i<=seq_ar[day];i++){
        for(j=0;j<da.length;j++){
            if(da[j].day == day){
                if(da[j].seq==i){
                    $('.MultiCarousel-inner').append('<div class="item" id="p' + (i) + '" ><a href="javascript:background_change(' + day + ',' + i +')"><img src="'+da[j].image+'" width="180px" height="200px"></a></div>');
                }
            }
        }
    }
        $('.MultiCarousel-inner').append("<div class='item'></div><div class='item'></div><div class='item'></div>");

        $('.MultiCarousel').append('<button class="btn btn-primary leftLst"><</button> <button class="btn btn-primary rightLst">></button>');

}
function background_change(day,num){
        console.log('background change');
        var img_url="";
        for(i=0;i<da.length;i++){
            if(da[i].day==day && da[i].seq==num){
                img_url=da[i].image;
            }
        }
        $('body').css({
            'background-image': 'url('+img_url+')',
            'background-size' : 'cover',
            'background-position' :'center',

        });

}
var directionsService
var directionsDisplay
var map
function initMap() {
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 22.9988465,lng: 120.2173261 },
          styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#523735"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#c9b2a6"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#dcd2be"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#ae9e90"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#93817c"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#a5b076"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#447530"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#fdfcf8"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f8c967"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#e9bc62"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e98d58"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#db8555"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#806b63"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8f7d77"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#b9d3c2"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#92998d"
      }
    ]
  }
]
        });
        directionsDisplay.setMap(map);

        for(i=0;i<seq_ar[1]-2;i++){
        }


          calculateAndDisplayRoute(directionsService, directionsDisplay);
      }



function post(day){
    img_show(day)
      $.ajax({
          url: './0',
          type: "POST",
          data:{
            day : day,
            'csrfmiddlewaretoken': "{{ csrf_token }}",
          },
          success:function(data, status, xhr){
               $('#map').html(data);
               console.log('google map changed');
             }
          ,
          failure: function(){
            console.log('fail');
            alert();
          },
      });

  };



//set up
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
     var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
</script>
<!script src="{% static "main_ajax_googlemap.js"%}" ></script>
</html>
