{% csrf_token %}
<!DOCTYPE html>
<html>
  <head>
    <title> schedule </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>

  <body style="background-color:hsl(1, 0%, 50%,10%)">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
      <a class="navbar-brand" href="#">
        <img src="https://images.pexels.com/photos/979602/pexels-photo-979602.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Logo" style="width:40px;">
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">下載</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">規劃行程</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">參考行程</a>
        </li>
      </ul>
      <form class="form-inline" action="/action_page.php" style="float:right;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </nav>
    <div class="container-fluid" >
      <div class="row">
        <div class="col-sm-2" style="margin-top:60px;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div>
        <div class="col-sm-8" style="margin-top:60px; margin-bottom:30px;background-color: white;height:400pt">
          <div class="container" >
            <div class="row">
              <div class="col-sm-4" style="border:1pt; height:350pt;margin-top:30px; margin-bottom:30px;">
                <div class="container">
                   <!--form  enctype="multipart/form-data"-->{% csrf_token %}
                    <input type="hidden" name="pk" value="{{pk}}">
                    選擇第幾天:
                    <select name="whichday" id="whichday">
                      <!--
                        <option value="day_1">第1天
                        <option value="day_2">第2天
                        <option value="day_3">第3天
                        -->
                    </select><br>
                    選擇時間:
                    <select name="seq" id="seq">
                        <!--
                        <option value=1>1
                        <option value=2>2
                        <option value=3>3
                        -->
                    </select><br>
                    輸入描述或簡介:<br>
                    <textarea id='title' name="title" cols="20" rows="1"></textarea><br>

                    <button type="submit" name="add_schedule" id="add_schedule">上傳</button>
                <!--/form-->
                </div>
                <div class="container" style="background-color: #f2f2f2;">
                  <div id="MainMenu">
                    <div class="list-group panel" >
                      <a href="#day_1_collapse" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu" id="day_1" >day 1</a>
                      <div class="collapse" id="day_1_collapse">
                        <!--a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1"><i class="fa fa-caret-down" >keep</i></a-->
                        <!--a href="javascript:;" class="list-group-item" id="sche_day_1_2">pussy</a-->
                      </div>
                      <a href="#day_2_collapse" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"id="day_2">day 2</a>
                      <div class="collapse" id="day_2_collapse">
                        <a href="" class="list-group-item"id="sche_day_2_1">balabala</a>
                        <a href="" class="list-group-item"id="sche_day_2_2">labalaba</a>
                        <a href="" class="list-group-item"id="sche_day_2_3">chueilaba</a>
                      </div>
                    </div>
                  </div>
                </div>        
              </div>
              <div class="col-sm-8" style="border:1pt solid; height:350pt;margin-top:30px; margin-bottom:30px;" id="empty_space">
                <div class="container" style="height: 200pt; border: 1pt solid; margin-top:10pt;" >
                   
                </div>
                <div class="container" style="height: 100pt;  margin-top:10pt;" >
                  <!--form enctype="multipart/form-data"-->{% csrf_token %}
                    <div id="text_area_for_intro"contenteditable="true" style> </div>
                    <!--textarea id="text_area_for_intro" rows="5" cols="60"></textarea-->
                    <button type="submit" name="rewrite_intro" id="rewrite_intro">save</button>
                  <!--/form-->
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>


      <footer class="page-footer font-small blue " style="background-color:white;">
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="#">NCKU EE</a>
        </div>
      </footer>
          <!--div  id="top_img"></div>
        <div id="daily">
          <figure id="daily_1">
            <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
          </figure>
          <figure id="daily_2">
            <figcaption>Fig.2 - hashtag, watch, Taiwan.</figcaption>
          </figure>
          <figure id="daily_3">
            <figcaption>Fig.3 - Blow, Beach, Skirt.</figcaption>
          </figure>
          </div-->
  </body>
  <html>
<script>
var seq_ar=[];
var max_day=0;
var now_day=0;
var now_seq=0;
var da=[
          {% for sche in day_1_all %}
                {% if not forloop.first %},{% endif %}
                {
                    day:"{{ sche.day }}",
                    title: "{{ sche.title }}",
                    seq: "{{ sche.seq }}",
                    intro: "{{ sche.intro | linebreaksbr}}",
                }

           {% endfor %}
      ]
for (i=0;i<da.length;i++){
  if(max_day<da[i].day){
    max_day=da[i].day;
  }
}
$(document).ready(function(){
  console.log('id_num');
  console.log({{ id_num }});
  function reload_function(){
      console.log('reload');
      for(i=0;i<=max_day;i++){
        $('#day_' + (i+1) + '_collapse').empty();
        console.log('empty day_'+i);
      }
      $('#seq').empty();
      $('#seq').append('<option class="opt" value=1> 1');
      for(i=1;i<=da.length;i++){
          for(j=0;j<da.length;j++){
              if (da[j].seq == i)
              {
                  $('#day_' + da[j].day + '_collapse').append('<a href="javascript:schedule_click(' + da[j].day + ',' + da[j].seq + ');" class="list-group-item" id="sche_day_' + da[j].day + '_'+da[j].seq+'">' + da[j].title + '</a>');
                  if( da[j].day == 1){
                    $('#seq').append('<option class="opt" value='+(i+1)+'> '+(i+1));
                  }
              }
          }
          if(da[i-1].day >max_day){
            seq_ar[da[i-1].day]=0;
          }else{
            seq_ar[da[i-1].day]+=1;
          }

      }
      //$('#whichday').append('<option value=' + 1 + '> 第' + 1 + '天');
      for(i=0;i<=max_day;i++){
        $('#whichday').append('<option value=' + (i+1) + '> 第' + (i+1) + '天');
      }
      console.log(seq_ar);
  }
  reload_function();

  $('#whichday').change(function(){
    console.log('change');
    $('#seq').empty();
    var wd_val=$('#whichday').val();
    for(i=0;i<=seq_ar[wd_val];i++){
      $('#seq').append('<option class="opt" value='+(i+1)+'> '+(i+1));
    }
  })

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  $('#add_schedule').click(function(){
      var d=$('#whichday').val();
      var s=$('#seq').val();
      var t=$('#title').val();
      console.log('1');
      console.log({{id_num}});
      $.ajax({
          url: './{{id_num}}',
          type: "POST",
          data:{
            whichday : d,
            seq : s,
            title : t,
            intro: '',
            rewrite: '0',
          },
          success: function(){
              console.log('success');
              reseq(d,s,t);
              reload_function();
          },
          failure: function(){
            console.log('fail');
            alert();
          },
      });
  });

  $('#rewrite_intro').click(function(){
      console.log('QQQQQ');
      var d = now_day;
      var s = now_seq;
      console.log(d+''+s);
      $.ajax({
          url: './{{id_num}}',
          type: "POST",
          data:{
            whichday : now_day,
            seq : now_seq,
            rewrite : '1',
            intro: $('#text_area_for_intro p').val(),
          },
          success: function(){
              console.log('success');
              alert('aaa');
          },
          failure: function(){
            console.log('fail');
            alert();
          },
      });
  });


});

function schedule_click(day,seq){
    $('#text_area_for_intro').empty();
    for(i=0;i<da.length;i++){
        if(da[i].day==day && da[i].seq==seq){
            $('#text_area_for_intro').append(da[i].intro);
            now_day=day;
            now_seq=seq;
        }
    }
    $('#sche_day_' + day + '_'+seq).css('background-color' , '#f2f2f2');
    console.log('click');
}


function reseq(day,seq,title){
  for(i=0;i<da.length;i++){
      if(day == da[i].day){
          if(seq <= da[i].seq){
              da[i].seq = String(parseInt(da[i].seq) + 1);
              console.log('change seq'+i);
          }
      }
  }
  da.push({
      day: day,
      seq: seq,
      title: title,
      intro: '',
  })
  console.log(da);
}

</script>
