<div class="ui inverted menu">
			<a class="item">
				<i class="home icon"></i> Home
			</a>
			<a class="item">
				<i class="user circle icon"></i> Profile
			</a>
			<a class="item">
				<i class="calendar alternarte outline icon"></i> My Schedules
			</a>
			<!--a class="item"> 
				<div class="ui input">
					<input type="text" placeholder="Search...">
				</div>
			</a-->
			<div class="right item">

				<a class="item">
					<i class="user icon"></i> Sign in & Sign up
				</a>
			</div>
		</div>


<div class="ui grid">
	<div class = "four column centered row">
	<div class = "four wide column">
		<h1 class="ui brown inverted huge header">Let's create your own schedule!</h1>
	</div>
	</div>
	<div class = "row">
    <div class="left floated two wide column">
      <div class="ui inverted segment" id = "fav">
        我的最愛
      </div>
    </div>
    <div class="right floated six wide column">
      <div class="ui segment">
        Right floated
      </div>
    </div>
	</div>
</div>	
	{% load static %}	
		

		<script src="{% static '/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
	
		<link rel="stylesheet" href="{% static 'semantic.min.css' %}">
		<script type="text/javascript" src="{% static 'semantic.min.js'%}"></script>
	
	<style>
		#fav{
		position:relative;
		left:30px;
		}
}</style>