<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <!--jquery mobile-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "semantic.css" %}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static "semantic.min.js" %}">
    </script>
    <!--button-->
    <link rel="stylesheet" type="text/css" href="{% static "button.css" %}">
    <!--icon-->
    <link rel="stylesheet" type="text/css" href="{% static "icon.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "icon.min.css" %}">
    <!--try fullscrean-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "FullScrean.css" %}">

    <!--my css-->
    <link rel="stylesheet" type="text/css" href="{% static "finalDisplay.css" %}">
    <script src="{% static 'jquery-ui.min.js' %}"></script>
    <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.css">


    <!--my js-->
    <script src="{% static "final.js" %}"></script>
    <script>
        $(document).ready(function () {
                (function () {
                    for (i = 0; i <={{ total_day }}; i++) {
                        $(".whole#" + (i + 1) + "day").css("display", "none");
                        $(".day#" + i).css("color", getRandomColor());
                    }
                }())
            }
        );

        //get color
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        //demo細節
        function showsch(id) {
            ju = true;
            $(".day").css("display", "none");
            var a = parseInt(id);
            console.log(a);
            (function () {
                for (i = 0; i <={{ total_day }}; i++) {
                    $(".whole#" + (i + 1) + "day").css("display", "none");
                    $(".day#" + i).css("color", getRandomColor());
                }
            }())
            for (i = 1; i <= a; i++) {
                $("#" + i).css("display", "");
            }
            $(".headerPic").css("display", "none");
            $(".whole#" + id + "day").fadeIn(150);
            for (z = a + 1; z <= 3; z++) {
                //console.log(getRandomColor());
                $(".whole").append('<div class="day" onclick="showsch(this.id)" id="' + z + '" style="color:' + getRandomColor() + '" > <h1>DAY"' + z + '"-----------------------></h1> </div>');
            }
        }

        {% comment %}{% endcomment %}
    </script>

</head>
<style>

    li {
        width: 100%;

    }

    .item {
        height: 10vh;
        vertical-align: middle;
        background-color: white;
        border: 1pt solid;
        padding: 1vh !important;
    }
</style>
<body>
<div id="app-container" style="margin-top: 10vh;overflow: hidden;">
    <div class="headerPic" style="height:30vh;width:100%;"></div>
    {% for day in days_schedule %}
        <div class="day" onclick="showsch(this.id)" id="{{ forloop.counter }}"
             style="margin-top:10px !important;color:aqua;">
            <h1>DAY{{ forloop.counter }}-----------------------></h1>
        </div>
    {% endfor %}
    {% comment %}
    <div class="day" onclick="showsch(this.id)" id="2" style="color:lightcoral">
        <h1>DAY2-----------------------></h1>
    </div>
    <div class="day" onclick="showsch(this.id)" id="3" style="color:lawngreen">
        <h1>DAY3-----------------------></h1>
    </div>
    {% endcomment %}
    {% for day in days_schedule %}
        <div class="whole" id="{{ forloop.counter }}day" style="display: none">
            {% comment %}
        {% if forloop.counter == 1 %}
            <div class="whole" id="{{forloop.counter}}day" display="">
        {% else %}
            <div class="whole" id="{{forloop.counter}}day" display="none">
        {% endif %}
        {% endcomment %}
            {% for scence in day %}
                <div class="part">
                    <div class="list ui grid" style="margin-top:2vh">
                        <div class="four wide column">
                            <h1 style="font-size:150%">10:00</h1>
                            <i class="big bus icon"></i>
                        </div>
                        <div class="twelve wide column">
                            <div class="ui two vertically divided grid" style="background-color: antiquewhite;">
                                <div class="row">
                                    <h1 style="font-size:3vh;margin-left:2%">{{ scence.site_name }}</h1>
                                </div>
                                <div class="row">
                                    <h1 style="font-size:3vh;margin-left:20%">停留{{ scence.time }}分鐘</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trans">
                        <i class="bus icon" style="display:inline;"></i>
                        <h1 style="font-size:3vh;display:inline; ">30分</h1>
                    </div>
                </div>
            {% endfor %}
            {% comment %}
        <div class="part">
            <div class="list ui grid" style="margin-top:2vh">
                <div class="four wide column">
                    <h1 style="font-size:150%">10:00</h1>
                    <i class="big bus icon"></i>
                </div>
                <div class="twelve wide column">
                    <div class="ui two vertically divided grid" style="background-color: antiquewhite;">
                        <div class="row">
                            {{ for  }}
                            <h1 style="font-size:3vh;margin-left:2%">我想騎重機-我好帥</h1>
                        </div>
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:20%">停留 30分鐘</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trans">
                <i class="bus icon" style="display:inline;"></i>
                <h1 style="font-size:3vh;display:inline; ">30分</h1>
            </div>
        </div>
        <div class="part">
            <div class="list ui grid" style="margin-top:2vh">
                <div class="four wide column">
                    <h1 style="font-size:150%">10:00</h1>
                    <i class="big bus icon"></i>
                </div>
                <div class="twelve wide column">
                    <div class="ui two vertically divided grid" style="background-color: antiquewhite;">
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:2%">我想騎重機-我好帥</h1>
                        </div>
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:20%">停留 30分鐘</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trans">
                <i class="bus icon" style="display:inline;"></i>
                <h1 style="font-size:3vh;display:inline; ">30分</h1>
            </div>
        </div>
        <div class="part">
            <div class="list ui grid" style="margin-top:2vh">
                <div class="four wide column">
                    <h1 style="font-size:150%">10:00</h1>
                    <i class="big bus icon"></i>
                </div>
                <div class="twelve wide column">
                    <div class="ui two vertically divided grid" style="background-color: antiquewhite;">
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:2%">我想騎重機-我好帥</h1>
                        </div>
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:20%">停留 30分鐘</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trans">
                <i class="bus icon" style="display:inline;"></i>
                <h1 style="font-size:3vh;display:inline; ">30分</h1>
            </div>
        </div>
        <div class="part">
            <div class="list ui grid" style="margin-top:2vh">
                <div class="four wide column">
                    <h1 style="font-size:150%">10:00</h1>
                    <i class="big bus icon"></i>
                </div>
                <div class="twelve wide column">
                    <div class="ui two vertically divided grid" style="background-color: antiquewhite;">
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:2%">我想騎重機-我好帥</h1>
                        </div>
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:20%">停留 30分鐘</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trans">
                <i class="bus icon" style="display:inline;"></i>
                <h1 style="font-size:3vh;display:inline; ">30分</h1>
            </div>
        </div>
        <div class="part">
            <div class="list ui grid" style="margin-top:2vh">
                <div class="four wide column">
                    <h1 style="font-size:150%">10:00</h1>
                    <i class="big bus icon"></i>
                </div>
                <div class="twelve wide column">
                    <div class="ui two vertically divided grid" style="background-color: antiquewhite;">
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:2%">我想騎重機-我好帥</h1>
                        </div>
                        <div class="row">
                            <h1 style="font-size:3vh;margin-left:20%">停留 30分鐘</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trans">
                <i class="bus icon" style="display:inline;"></i>
                <h1 style="font-size:3vh;display:inline; ">30分</h1>
            </div>
        </div>
        {% endcomment %}

        </div>
    {% endfor %}


</div>


</body>
</html>