<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Drag and Drop Sortable List</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>



  
</head>

<body>

  <ul id="items-list" class="moveable">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
</ul>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

       {% load static %}	
		 <link rel="stylesheet" type="text/css" href="{% static 'drag.css' %}" />
		  <script src="{% static 'drag.js' %}"></script>

 




</body>

</html>
