<!doctype html>
<html>
	<head>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
		<style>


		</style>
		<title> Schedule </title>
		<meta charset='utf-8'>
	</head>
	<body id = "body">

		<div class="ui inverted menu">
			<a class="item">
				<i class="home icon"></i> Home
			</a>
			<a class="item">
				<i class="user circle icon"></i> Profile
			</a>
			<a class="item">
				<i class="calendar alternarte outline icon"></i> My Schedules
			</a>
			<!--a class="item"> 
	   <div class="ui input">
	   <input type="text" placeholder="Search...">
	   </div>
	   </a-->
	   <div class="right item">

		   <a class="item">
			   <i class="user icon"></i> Sign in & Sign up
		   </a>
	   </div>
		</div>
		<div class="ui grid">
			<div class = "four column centered row">
				<div class = "four wide column">
					<h1 class="ui brown inverted huge header">Let's create your own schedule!</h1>
				</div>
			</div>
			<div class = "row">
				<div class=" three wide column" id = "fav">
					<div class="ui inverted segment">
						我的最愛
					</div>
				</div>
				<div class=" six wide column" id = "middle">
					<div class="ui inverted segment" >
						Day1
					</div>
				</div>
			</div>
			<div class = "row">
				<div class=" three wide column" id = "list0">
					<div>
						<ul id= "Day{{tc0.day}}" class="ui orange segment sortable-list">
							{% for ts in tc0.touristsite_set.all %}
							<li class="ui inverted orange button" id = {{ts.site_id}} >{{ts.site_name}} &nbsp;&nbsp;&nbsp; {{ts.time}}</li>
							{% endfor%}	
						</ul>
					</div>
				</div>
				<div class=" three wide column" id = "middle">
					<div class="ui inverted segment" >修改後</div>
					<div>
						<ul id= "Day{{tc1.day}}" class="ui violet segment sortable-list">
							{% for ts in tc1.touristsite_set.all %}
							
							<li class="ui inverted violet button" id = {{ts.site_id}}>{{ts.site_name}}&nbsp;&nbsp;&nbsp;{{ts.time}}</li>
							
							{% endfor%}	
						</ul>
						 <form action="" method="post">
			<input id="order" type="hidden" name="order" value="0">
			<input id="order0" type="hidden" name="order0" value="0">
			<input id="order1" type="hidden" name="order1" value="0">
	 		<input id="course" type="hidden" name="course" value="0">
			<input class = "ui button"type="submit" value="儲存順序">
</form>
					</div>


				</div>
				<div class=" three wide column" id = "middle">
					<div class="ui inverted segment">原順序</div>		
					<div>
						<ul id= "unsort-item" class="ui black segment">
							{% for ts in tc1.touristsite_set.all %}
							
							<li class="ui inverted green button" id = {{ts.site_id}}>{{ts.site_name}}&nbsp;&nbsp;&nbsp;</li>
				
							{% endfor%}	
						</ul>
						
					</div>
				</div>
			</div>
			<div id = "information"class = "row">
				<div id = "img_place"class = "four wide column">

					<img id ="imgg"class="ui medium bordered image" src="">

				</div>
				<div id = "content_place"class = "five wide column">
					<p id = "site-content" class = "ui red segment"></p>
				</div>
			</div>





			<!--h2> {{ r.title }} </h2>
	   <h2> author: {{r.author}} </h2>
	   <h2> days:{{r.days}}</h2-->


	   <!--form action="" method="post">
		<input id="order" type="hidden" name="order" value="0">
		<input class = "ui button"type="submit" value="儲存順序">
		</form-->




		<br /><br />

		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

		{% load static %}	

		<link rel="stylesheet" type="text/css" href="{% static 'ns.css' %}" />
		<script src="{% static '/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
		<script src="{% static 'ns.js' %}"></script>
		<link rel="stylesheet" href="{% static 'semantic.min.css' %}">
		<script type="text/javascript" src="{% static 'semantic.min.js'%}"></script>

	</body>
	<script type="text/javascript">
var img = [
{% for tcss in tc %}
{% for t in tcss.touristsite_set.all %}
{
	route_order : "{{t.route_order}}",
	image : "{{ t.image }}",
	line : "{{ t.line }}",
	site_content : "{{ t.site_content }}",
	site_id : "{{t.site_id}}",
},
{% endfor %}
{% endfor %}
]
$(document).ready(function(){
	$(".sortable-list>li,#unsort-item>li").dblclick(function(){
		var pid = $(this).closest('ul').attr('id')
		var img_url = "";
		var content = "";
		for(i=0;i<img.length;i++){
			if(img[i].site_id==(this).id){
				img_url=img[i].image;
				content = img[i].site_content;
			}
		}
		console.log("/media/"+img_url);
		$('#imgg').attr('src',"/media/"+img_url);
		$('#site-content').text(content);
		/*
		   $('#imgg').css({
		   'background-image': 'url(/media/upload/john-cena2.jpg.jpg)',
		   'background-position' :'center',


		   });
		 */
	});
});
	</script>
</html>
