<!DOCTYPE html>
<html>
<head>
    <!--jquery mobile-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    {% load static %}
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'semantic.min.js'%}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.css">
    <!--button-->
    <link rel="stylesheet" type="text/css" href="{% static 'button.css' %}">
    <!--icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icon.min.css' %}">
    <!--try fullscrean-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'FullScrean.css' %}">
    <!--pic spilt-->
    <script src="{% static 'show.js'%}"></script>
    <!--my css-->
    <link rel="stylesheet" type="text/css" href="{% static 'showStyle.css' %}">
</head>
<style>
        html {
            position:fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        body {
            position: relative;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 064 css*/
        .jssorb064 {position:absolute;}
        .jssorb064 .i {position:absolute;cursor:pointer;}
        .jssorb064 .i .b {fill:#000;fill-opacity:.5;stroke:#fff;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
        .jssorb064 .i:hover .b {fill-opacity:.8;}
        .jssorb064 .iav .b {fill:#ffe200;fill-opacity:1;stroke:#ffaa00;stroke-opacity:.7;stroke-width:2000;}
        .jssorb064 .iav:hover .b {fill-opacity:.6;}
        .jssorb064 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}




</style>

<body>

<!--try slide-->
<script type="text/javascript" src="{% static 'jssor.slider-27.5.0.min.js'%}"></script>

<script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_options = {
              $Idle: 2000,
              $SlideEasing: $Jease$.$InOutSine,
              $DragOrientation: 3,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            //make sure to clear margin of the slider container element
            jssor_1_slider.$Elmt.style.margin = "";

            /*#region responsive code begin*/

            /*
                parameters to scale jssor slider to fill parent container

                MAX_WIDTH
                    prevent slider from scaling too wide
                MAX_HEIGHT
                    prevent slider from scaling too high, default value is original height
                MAX_BLEEDING
                    prevent slider from bleeding outside too much, default value is 1
                    0: contain mode, allow up to 0% to bleed outside, the slider will be all inside parent container
                    1: cover mode, allow up to 100% to bleed outside, the slider will cover full area of parent container
                    0.1: flex mode, allow up to 10% to bleed outside, this is better way to make full window slider, especially for mobile devices
            */

            var MAX_WIDTH = 3000;
            var MAX_HEIGHT = 3000;
            var MAX_BLEEDING = 0.128;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {
                    var originalWidth = jssor_1_slider.$OriginalWidth();
                    var originalHeight = jssor_1_slider.$OriginalHeight();

                    var containerHeight = containerElement.clientHeight || originalHeight;

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);
                    var expectedHeight = Math.min(MAX_HEIGHT || containerHeight, containerHeight);

                    //scale the slider to expected size
                    jssor_1_slider.$ScaleSize(expectedWidth, expectedHeight, MAX_BLEEDING);

                    //position slider at center in vertical orientation
                    jssor_1_slider.$Elmt.style.top = ((containerHeight - expectedHeight) / 2) + "px";

                    //position slider at center in horizontal orientation
                    jssor_1_slider.$Elmt.style.left = ((containerWidth - expectedWidth) / 2) + "px";
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            function OnOrientationChange() {
                ScaleSlider();
                window.setTimeout(ScaleSlider, 800);
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", OnOrientationChange);
            /*#endregion responsive code end*/
        };




</script>

<div class="ui left vertical inverted sidebar labeled icon menu">
    <a class="item" id="user_icon">
        <i class="user icon"></i>
        {% if user.is_authenticated %}
        {{ user.username }}
        {% else %}
        Login
        {% endif %}
    </a>
    <a class="item" id="home_icon">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item" id="search_icon">
        <i class="search icon"></i>
        search
    </a>
    <a class="item" id="edit_icon">
        <i class="edit icon"></i>
        create
    </a>
    <a class="item" id="logout_icon">
        <i class="user times icon"></i>
        logout
    </a>
</div>

<div class="pusher" style="min-height: 100vh;">

    <div id="app-header" style="background-color: #ffffff">
        <h1 style="font-size:150%;color: grey;opacity:0.6;margin-top: 5%;font-family: 'Times New Roman', Times, serif;">
            How about<br>this travel plan?
        </h1>
    </div>
    <div class="ui vertically divided grid" id="app-container">
        <div class="row" id="slidepic">
            <div style="position:absolute;top:5%;left:0;width:100%;height:80%;overflow:hidden;">
                <div id="jssor_1"
                     style="position:relative;margin:0 auto;top:0px;left:0px;width:640px;height:960px;overflow:hidden;visibility:hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" class="jssorl-009-spin"
                         style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"
                             src="/media/img/spin.svg"/>
                    </div>
                    <div data-u="slides"
                         style="cursor:default;position:relative;top:0px;left:0px;width:640px;height:960px;overflow:hidden;">
                        {% for search_sch_img in show_array%}
                        <div id={{forloop.counter}} onclick="changeBac({{forloop.counter}})">
                            <img data-u="image" src="{{search_sch_img}}"/>
                            <!--div class="picContent1" id="p1-1" value="/media/{{schedule_item.0.image}}">
                            </div>
                            <div class="picContent2" id="p1-2" value="/media/{{schedule_item.1.image}}">
                            </div>
                            <div class="picContent3" id="p1-3" value="/media/{{schedule_item.2.image}}">
                            </div-->

                        </div>
                        {% endfor %}
                    </div>
                    <!-- Bullet Navigator -->
                    <div data-u="navigator" onclick="resizepic()" class="jssorb064"
                         style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5"
                         data-scale-bottom="0.75">
                        <div data-u="prototype" class="i" style="width:16px;height:16px;">
                            <svg viewbox="0 0 16000 16000"
                                 style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                            </svg>
                        </div>
                    </div>
                    <!-- Arrow Navigator -->
                    <div data-u="arrowleft" onclick="resizepic()" class="jssora051"
                         style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75"
                         data-scale-left="0.75">
                        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                        </svg>
                    </div>
                    <div data-u="arrowright" onclick="resizepic()" class="jssora051"
                         style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75"
                         data-scale-right="0.75">
                        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                        </svg>
                    </div>
                </div>
            </div>
            <script type="text/javascript">jssor_1_slider_init();</script>
            <!-- #endregion Jssor Slider End -->
        </div>
    </div>
</div>
</body>
<script>
var judgeShow=false;
var judgeid=0;
$(document).ready(function() {
  console.log("aaaa")
  console.log($('#p1-1').attr('value'))
})
console.log('say');
{% for search_sch_img in show_array%}
console.log('{{search_sch_img}}');
{% endfor %}
/*
$(document).ready(function() {

    for(i=1;i<9;i++){

        var first=new String("p"+i);
        //console.log(first)
        var pic=new String("media/"+i+"/");
        //console.log(pic)

        for(y=1;y<4;y++){
            var second=first.concat("-"+y);
            //console.log(second)
            $("#"+second).css({
                "background-image":"url(\'"+$("#"+second).attr('value')+"\')"
            })
        }
    }
})

*/

</script>

<script>
var sidebarstate=0;
var origin_height;
$(document).ready(function(){
    console.log('st');
    origin_height = $('.pusher').height();
});
$('.pusher').on('swiperight',function(){
  $('.ui.sidebar').sidebar({closable: false});
  $('.ui.sidebar').sidebar('toggle');
  $('#sidebar_icon').hide();
  console.log(sidebarstate);
  setTimeout(function(){sidebarstate = 1;},500);
});

$(document).click(function(){
    console.log('click');
  if(sidebarstate==1){
    $('.ui.sidebar').sidebar('toggle');
    $('#sidebar_icon').show();
    $('.pusher').height(origin_height);
    sidebarstate=0;
  }
});


</script>
<script>
    $('#user_icon').click(function(){
        {% if user.is_authenticated %}
            window.location.href='../profile';
        {% else %}
            window.location.href='../accounts/login';
        {% endif %}
    });
    $('#logout_icon').click(function(){
        {% if user.is_authenticated %}
            window.location.href="../accounts/logout";
        {% else %}
            alert('你沒登入阿!')
        {% endif %}
    });
    $('#search_icon').click(function(){
        window.location.href='../search';
    });
    $('#home_icon').click(function(){
        window.location.href='../develop';
    });
    $('#edit_icon').click(function(){
        console.log('check');
        window.location.href = '../sch/0';
    });
</script>
</html>